* {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
div {
  text-align: center;
}

canvas {
  background: rgb(200, 200, 200);
  display: block;
  margin: 0 auto;
}
.button {
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 5px 1px;
  border: none;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color: #888;
  color: #ffffff;
}

.btn-primary {
  background-color: #888;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:focus,
.btn-primary.active:hover,
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus,
.show > .btn-primary.dropdown-toggle:hover {
  background-color: #979797;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary:hover {
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #007ab4;
  border-color: #007ab4;
}

.btn-primary.btn-simple {
  color: #007ab4;
  border-color: #007ab4;
}

.btn-primary.btn-simple:hover,
.btn-primary.btn-simple:focus,
.btn-primary.btn-simple:active {
  background-color: transparent;
  color: #4bb7e9;
  border-color: #4bb7e9;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary.btn-link {
  color: #007ab4;
}

.btn-primary.btn-link:hover,
.btn-primary.btn-link:focus,
.btn-primary.btn-link:active {
  background-color: transparent;
  color: #4bb7e9;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 20%;

  margin: 5px 1px;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;

  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider-outer::-webkit-slider-thumb{
  background: gray;
}